@import '../../styles/styles.colors.scss';

.facet {
  display: grid;
  gap: 24px;
  grid-template-columns: auto 1fr;

  &__text {
    height: 100%;
    display: grid;
    align-items: center;
    color: $black;
    font-weight: 500;
  }
}
