@import '../../styles/styles.colors.scss';

.facet {
  display: flex;
  gap: 24px;

  &__text {
    height: 100%;
    display: grid;
    align-items: center;
    color: $black;
    font-weight: 500;
  }
}
