@import '../../styles/styles.colors.scss';

.bar {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 5rem;
  height: 100%;
  border-right: 1px solid;

  &:after {
    display: inline-block;
    transform: translate(-50%);
    content: "";
    height: 100%;
    position: relative;
    left: 50%;
    border-left: 3px solid $red;
    // padding-top: 30rem;
  }
}