@-we-palette{

    @global{
        color: #303130;
        color: #7B7B7B;
        color: #FFD454;
        color: #F15A24;
        color: #FE5A6B;
        color: #17B1BC;
        color: #ADEAEF;
        color: #96F561;
        color: #7A1A59;
    }
}