
/* PROJECTS (specific colors for each page)
============================================================================= */
.slowFade-add, .slowFade-remove,
.proj-simulacra-add, .proj-simulacra-remove,
.proj-nimble-add, .proj-nimble-remove,
.proj-acad-add, .proj-acad-remove,
.proj-assemble-add, .proj-assemble-remove {
    transition: all 500ms linear;
}

.proj-simulacra,
.proj-simulacra-add.proj-simulacra-active {
    /*background-color: #7b7b7b;
    background-color: rgba(123,123,123, .9);*/
    background-color: #303130;
    background-color: rgba(48, 49, 48, 1);
     color: white;
}

.proj-assemble,
.proj-assemble-add.proj-assemble-active {
    /*background-color: rgb(255, 212, 84);*/
    /*background-color: cmyk(.32%, 15.62%, 78.44%, 0);*/
    background-color: #FFD454;
    background-color: rgba(255, 212, 84, .9);
    color: #303130;
    color: rgba(48, 49, 48, .9);
}

.proj-nimble,
.proj-nimble-add.proj-nimble-active {
    /*background-color: #f15a24;
    background-color: rgba(241, 90, 36, .95);*/
    /*background-color: #7b7b7b;
    background-color: rgba(123,123,123, .9);*/

    /*background-color: #e6e6e6;
    background-color: rgba(215,215,215, 1);*/

    background-color: cyan;

    color: #303130;
    color: rgba(48, 49, 48, .9);
}

.proj-acad,
.proj-acad-add.proj-acad-active {
    background-color: #7a1a59;
    background-color: rgba(122, 26, 89, .9);
    color: white;
}

.proj-greysmith,
.proj-greysmith-add.proj-greysmith-active {
    background-color: rgb(23, 177, 188);
    color: #303130; 
}
.proj-artasedu,
.proj-artasedu-add.proj-artasedu-active {
    background-color:white;
    color: #303130; 
}
.proj-gitit,
.proj-gitit-add.proj-gitit-active {
    background-color: rgb(254, 90, 107);
    color: #303130; 
}
.proj-portfolio,
.proj-portfolio-add.proj-portfolio-active {
    background-color: #7b7b7b;
    color: #303130; 
}

.proj-none,
.proj-none-add.proj-none-active {
     background-color:white; 
     color: #303130; 
}

.proj-sample,
.proj-sample-add.proj-sample-active {
     background-color:white; 
     color: #303130; 
}

.slowFade,
.slowFade-add.slowFade-active {
    animation: fadeIn 1s both ease-in;
}

/*color:#9e0000;*/

/* ANIMATIONS
============================================================================= */

.ng-enter {
    animation: fadeIn 1s both ease-in; 
    /*z-index: 8888;*/
}

.ng-leave {
    animation: fadeOut .25s both linear; 
    /*z-index: 9999;*/
}


/* entering animations --------------------------------------- */
/* scale up */
@keyframes fadeIn {
    from    { opacity: 0.3; }
}

/* leaving animations ----------------------------------------- */
/* slide in from the bottom */
@keyframes fadeOut {
    to      { opacity: 0.0; }
}

