/* PROJECTS (specific colors for each page)
============================================================================= */
.proj-simulacra      { background:#00D0BC; color:#00907c; }
.proj-assemble       { background:#E59400; color:#a55400; }
.proj-automateACAD   { background:#ffa6bb; color:#9e0000; }
.proj-nimble         { background:#ffa6bb; color:#9e0000; }
.proj-greysmith      { background:#ffa6bb; color:#9e0000; }
.proj-artasedu       { background:#ffa6bb; color:#9e0000; }
.proj-gitit          { background:#303130; color:#7b7b7b; }

/* ANIMATIONS
============================================================================= */

.ng-enter {
    animation: scaleUp 0.5s both ease-in; 
    z-index: 8888;
}

.ng-leave {
    animation: slideOutLeft 0.5s both ease-in; 
    z-index: 9999;
}


/* leaving animations ----------------------------------------- */
/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}