#News{
    position: fixed;
    white-space: normal;

}

#news-title-section {
    right: 150px;
}


#news-main-section {
    /*border: 1px solid red;*/
    /*top: 75px;*/
    /*top: 0;*/
    padding: 30px;
}

#news-main-section:hover{
    overflow-y: auto;
}

@media only screen and (max-height: 800px) {
    #news-main-section {
        overflow: hidden;
        white-space: normal;
        margin: 50px 0px 0px ;
        padding: 0 15px;
        height: 40vh;
    }
}

@media only screen and (min-height: 801px) {
    #news-main-section {
        overflow: hidden;
        white-space: normal;
        margin: 50px 0px 0px ;
        padding: 0 15px;
        height: 650px;
    }
}

#news-main-section h1{
    font-size: 36px;
    margin: 0;
}

#news-main-section h2{
/*     font-family: 'Lato', sans-serif; */
/*     font-weight: 600; */
    font-size: 30px;
    color: #7B7B7B;
    margin: 0 50px;
}

#news-main-section p{
    font-family: 'Lato', sans-serif;
    margin: 0 50px;
}

#news-main-section p img{
    /*max-height: 30%;*/
    max-width: 100%;
    height: auto;
}

#news-main-section blockquote{
/*     padding: 0 10vw; */
    margin: 0 10vw;
    font-size: 24px;
    font-weight: 300;
/*     border: none; */    
}

#news-main-section ul{
    margin: 0 50px;
}

#news-main-section a{
    border-bottom: 2px solid #FE5A6B;
}

#news-main-section pre{
    margin: 0 50px;
    background-color: #303030;
    color: white;
}

#cover{
    overflow-y: hidden;
    /*height: auto;*/
    max-height: 350px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

#cover img{
    max-width: 100%;

}

#article-markdown{
    padding: 0 30px;
    text-align: justify;
    white-space: pre-line;
}




