
#Works {
    width: 100%;
    height: 100%;

    display: table;
    position: fixed;
    top: 0;
    
}

.words {
    /*border: 1px solid blue;*/

    padding: 0;
    
}

.pictures {
    /*border: 5px solid purple;*/

    padding: 0;

    vertical-align: middle;
    text-align: center;
    margin-top: 100px;
    /*position: relative;
    padding: 0;*/

    height: 100%;
}

.project-navigation {
    /*border: 5px solid red;*/
    margin-top: 110px;
    text-align: right;
    width: auto;
    position: absolute;
    right: 25px;
}

.title {
    display: table-cell;
    padding: 20px 15px;
    height: 200px;
    vertical-align: middle;
    /*border: 1px solid red;*/
}

.summary {
    border-top: 1px solid #FE5A6B;

    overflow: hidden;
    white-space: pre-line;
    margin: 0;
    padding: 0 15px;
    height: 500px;
}

.summary:hover {
    overflow-y: scroll;
}

.current-picture {
    border: 1px solid #FE5A6B;

    height: 600px;
    
    margin: 25px 50px;
    vertical-align: middle;
}

.caption {
    border-top: 3px solid #FE5A6B;
    padding: 15px 50px;
    margin: 15px;
    text-align: left;
}

/* ===============================================================================*/
