
#Works {
    width: 100%;
    height: 100%;

    display: table;
    position: fixed;
    top: 0;
    
}

.word-area {
    /*border: 1px solid blue;*/

    padding: 0;
    
}

.image-area {
    padding: 0;

    vertical-align: middle;
    text-align: center;
    margin-top: 100px;
    height: 100%;
}

@media only screen and
(max-height: 800px){
    .image-area {
        vertical-align: middle;
        text-align: center;
        margin: 100px 0px 0px;
        /*height: 100%;*/
        width: 100%;
    }

    #image-frame{
        /*border: 1px solid red;*/
        text-align: center;
    }

    .main-picture{
        border: 1px solid #FE5A6B;
        height: 70%;
        width: 70%;
        margin: 15vh 5vw 2vh 5vw;
        text-align: center;
        vertical-align: middle;
    }
}

@media only screen and
(min-height: 801px){
    .image-area {
        vertical-align: middle;
        text-align: center;
        margin: 100px 0px 0px;
        /*height: 100%;*/
        width: 100%;
    }

    #image-frame{
        /*border: 1px solid red;*/
        text-align: center;
    }

    .main-picture{
        border: 1px solid #FE5A6B;
        height: 100%;
        max-height: 800px;
        width: 100%;
        max-width: 1000px;
        margin: 15vh 2vw 2vh 2vw;
        text-align: center;
        vertical-align: middle;
    }
}


.caption {
    border-top: 3px solid #FE5A6B;
    padding: 15px 50px;
    margin: 15px;
    text-align: center;
    white-space: pre-line;
    height: 100px;
    overflow: hidden;
}

.caption:hover {
    height: auto;
    max-height: 150px;
    overflow-y: auto;
}

.picture{
}

.image-list{
    text-align: center;
    width: 100%;
}

.image-list ul{
    display: inline-table;
    height: 25px;
    /*margin: 0px 50px;*/
    padding: 0;

}

.image-list li{
    /*position: relative;*/
    line-height: 5px;
    font-size: 48px;
    margin: 0px 5px;
    color: #303030;
    display: inline;
    cursor: crosshair;
}

/* ===============================================================================*/

.borderGreyAllLight{border: 1px solid #303030 !important;}
.borderGreyTopLight{border-top: 1px solid #303030 !important}
.borderGreyBottomLight{border-bottom: 1px solid #303030 !important;}
.borderGreyLeftLight{border-left: 1px solid #303030 !important;}
.borderGreyRightLight{border-right: 1px solid #303030 !important;}

.borderGreyAllHeavy{border: 3px solid #303030 !important;}
.borderGreyTopHeavy{border-top: 3px solid #303030 !important}
.borderGreyBottomHeavy{border-bottom: 3px solid #303030 !important;}
.borderGreyLeftHeavy{border-left: 3px solid #303030 !important;}
.borderGreyRightHeavy{border-right: 3px solid #303030 !important;}

.borderWhiteAllLight{border: 1px solid white !important;}
.borderWhiteTopLight{border-top: 1px solid white !important}
.borderWhiteBottomLight{border-bottom: 1px solid white !important;}
.borderWhiteLeftLight{border-left: 1px solid white !important;}
.borderWhiteRightLight{border-right: 1px solid white !important;}

.borderWhiteAllHeavy{border: 3px solid white !important;}
.borderWhiteTopHeavy{border-top: 3px solid white !important}
.borderWhiteBottomHeavy{border-bottom: 3px solid white !important;}
.borderWhiteLeftHeavy{border-left: 3px solid white !important;}
.borderWhiteRightHeavy{border-right: 3px solid white !important;}
