<div id="news-main-section"
     class="absolute col-xs-6 col-md-8 col-lg-8 summary">
    <!-- ReSharper disable once Html.TagNotResolved -->
    <div id="cover">
        <img src="{{vm.page.article.cover}}"/>
    </div>
    <div btf-markdown
         ng-include src="vm.page.article.content"
         id="article-markdown">
    </div>
</div>

<div id="news-title-section"
     class="absolute col-xs-4 col-md-3 col-lg-3">
    <h1 class="summary-title left-align borderBlueTopMedium borderBlueBottomMedium"
        id="article-title">
        <!--ng-class="{borderTop: vm.page.borderColor.top + 'Medium', borderBottom: vm.page.borderColor.bottom + 'Medium'}"-->
        {{ vm.page.article.title}}
    </h1>
    
    <div id="other-information">
        <p class="left-align generalPaddingTop generalPaddingBottom halfPaddingLeft halfPaddingRight"
           id="article-info">
            {{ vm.page.article.date }}
        </p>

        <div class="row">
        <ul id="share-links"
            class="col-lg-1">
            <li><a><span class="share twitter"></span></a></li>
            <li><a><span class="share google"></span></a></li>
            <li><a><span class="share linkedIn"></span></a></li>
        </ul>
        
        <ul id="other-articles"
            class="col-lg-11">
            <li ng-repeat="article in vm.page.articles"
                ng-click="vm.changeArticle(article.id)">
                {{ article.title }}
            </li>
        </ul>
        </div>
    </div>
</div>

<div id="project-navigation"
     class="absolute col-xs-2 col-md-1 col-lg-1 project-navigation">
    <div id="next"
         ng-click="vm.next()"><h2>></h2></div>
    <div id="previous"
         ng-click="vm.previous()"><h2><</h2></div>
</div>
