<!--The Navigation Menu which appears after clicking the circle-->
<div id="nav"
     class="center-ver-hor center-parent"
     directive-nav>
</div>

<!--the big piece at the top right-->
<div id="head" class="center-ver-hor center-parent">
    
    <div id="name" class="center-ver-hor center-child">
        <h1>{{ vm.page.title }}</h1>
    </div>

    <div id="navigator"
         class="center-ver-hor center-child"
         data-ng-click="vm.toggleMenu()">
    </div>

</div>

<!--our main view-->
<div id="{{ vm.page.name }}"
     class="center-ver-hor center-parent"
     data-ng-view></div>
