<div id="page"
     ng-class="vm.page.colorCode">
    
    <!--The Navigation Menu which appears after clicking the circle-->
    <div id="nav"
         class="center-ver-hor center-parent"
         directive-nav>
    </div>

    <!--the big piece at the top right-->
    <div id="head"
         class="center-ver-hor center-parent borderGeneralTopHeavy"
         ng-class="vm.page.borderColor.top + 'Heavy'">
        <div id="name" class="center-ver-hor center-child">
            <h1>{{ vm.page.title }}</h1>
        </div>

        <div id="navigator"
             class="center-ver-hor center-child borderGeneralAllHeavy"
             data-ng-click="vm.toggleMenu()">
        </div>

    </div>

    <!--OUR MAIN VIEW-->
    <div id="{{ vm.page.name }}"
         class="center-ver-hor center-parent"
         data-ng-view></div>

    <!--the little piece on the bottom-right-->
    <div id="location"
         ng-class="vm.page.transition">
        <h1 id="location-title"
            ng-class="vm.page.borderColor.left + 'Heavy'"
            class="borderGeneralLeftHeavy">
            {{ vm.page.name }}
        </h1>
    </div>
</div>