<ul id="menu"
    class="center-ver-hor center-child">
    <li class="navigable" data-ng-click="vm.navigateTo('Home')">Home.</li>
    <li class="navigable" data-ng-click="vm.navigateTo('About')">About.</li>
    <li class="navigable" data-ng-click="vm.navigateTo('Works')">Works.</li>
    <li class="navigable" data-ng-click="vm.navigateTo('News')">News.</li>
    <li class="navigable" data-ng-click="vm.navigateTo('Contact')">Contact.</li>

    <!--<li directive-navigable>Home.</li>
    <li directive-navigable>About.</li>
    <li directive-navigable>Works.</li>
    <li directive-navigable>News.</li>
    <li directive-navigable>Contact.</li>-->
</ul>