<div id="summary-section">
    <div id="word-area"
         class="col-xs-4 col-s-4 col-md-4 words">
        <div id="title-{{ vm.page.name }}"
             class="title"
             ng-class="vm.page.transition">
            <h2 ng-repeat="projectTitle in vm.page.currentProject.title">{{projectTitle}}</h2>
        </div>
        <div id="summary-{{ vm.page.name }}"
             class="summary">
            <p ng-repeat="paragraph in vm.page.currentProject.summary track by $index">{{ paragraph }}</p>
        </div>
    </div>

    <div id="image-area"
         class="col-xs-6 col-s-6 col-md-7 pictures">
        <div id="image-frame">
            <img src="{{ vm.page.currentImage.location }}"
                 alt="Suave, Lopez..."
                 class="picture"
                 id="current-picture"
            />
        </div>
        <div class="image-list center-ver-hor center-parent">
            <ul class="center-child center-ver-hor">
                <li ng-repeat="image in vm.page.currentProject.images"
                    id="projectImage-"{{image.id}}
                    ng-click="vm.changeImage(image.id)">.
                </li>
            </ul>
        </div>
        <div class="caption">{{ vm.page.currentImage.caption }}</div>
    </div>
    
    <div id="project-navigation"
         class="col-xs-2 col-s-2 col-md-1 project-navigation">
        <div id="next"
             ng-click="vm.nextProject()"><h2>></h2></div>
        <div id="previous"
             ng-click="vm.previousProject()"><h2><</h2></div>
    </div>
</div>
