.main {
  padding-top: 8rem;
  padding-left: 16rem;
  padding-right: 14rem;

  display: grid;
  height: 100vh;
  scroll-snap-align: start;
  // justify-content: center;
  
}

.overflow {
  &__hidden {
    overflow-y: hidden;
  }
}