@import '../../styles/styles.colors.scss';

.main {
  padding-top: 8rem;
  padding-left: 16rem;
  padding-right: 14rem;

  display: grid;
  height: 100vh;
  scroll-snap-align: start;

  .name {
    font-weight: 600;
    color: $grey;
    // color: red;
    font-size: 16px;
    text-transform: uppercase;
  }
}

.overflow {
  &__hidden {
    overflow-y: hidden;
  }
}