@import '../styles/styles.colors.scss';
@import '../styles/styles.fonts.scss';

%decoration {
  font-family: $font-head;
  color: $red;
  font-weight: 500;
  font-size: 16px !important;
  transition: color 1s;

  &:hover {
    cursor: pointer;
  }
}

.pagelink {
  a,
  p,
  svg {
    @extend %decoration;
  }

  a {
    // display: flex;
    // align-items: center;
  }
}

.link {
  &__inner {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.125rem;
  }

  &__override {
    &:hover {
      background-color: $red;
      color: $cream !important;
    }
  }
}
