@import '../styles/styles.colors.scss';
@import '../styles/styles.fonts.scss';

%decoration {
  font-family: $font-head;
  color: $red;
  font-weight: 500;
  transition: color 1s;

  &:hover {
    cursor: pointer;
  }
}

.pagelink {
  a,
  p,
  svg {
    @extend %decoration;
  }

  p {
    font-size: inherit;
  }
}

.link {
  &__inner {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__override {
    &:hover {
      background-color: $red;
      color: $cream !important;
    }
  }
}

@media (min-width: 1024px) {
}

@media (max-width: 1023px) {
}

@media (max-width: 766px) {
}
