@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:100,300,400';
@import 'https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,900';
@import 'https://fonts.googleapis.com/css?family=Jaldi:400,700';

/*#region organizational play area*/

/*#region Header*/
/*#head {
    border: 10px solid blue;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

#nav-list {
    border: 5px dotted red;
    vertical-align: middle;
}

#title {
    border: 5px dotted green;
    text-align: right;
    padding-right: 50px;
}*/
/*#endregion*/

/*#region Splash*/
/*#center-stage {
    
}

#pro-title {
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    line-height: 50px;
}

#pro-title li {
    display: block;
}

#pro-title #job{
    color: black;
}

#pro-title #location{
    color: darkgrey;
}

#background-image {
    
}*/

/*#endregion*/

/*#endregion*/


/* #region real styles*/

/*#region Example*/
/*#endregion*/

/*#region Global*/
html {
    width: 100%;
    overflow-x: hidden;
    background-color: lightgray;
    display: block;
    
    margin-left: 10%;
}

body {
    /*font-family: "Open Sans Condensed", sans-serif;*/
    font-family: "Jaldi", sans-serif;
    font-size: 25px;
    z-index: 10;
    /*margin: 0 auto;*/
    max-width: 80%;
}

li {
    display: block;
}

h1, h2, h3, h4 {
    font-family: "Raleway", sans-serif;
}

a:link {
    color:inherit;
    text-decoration: none;
}

/*#endregion*/

/*#region Header*/
#head {
    margin-top: 50px;
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

#nav-list {
    vertical-align: middle;
}

#title {
    text-align: right;
    padding-right: 100px;
    /*white-space: nowrap;*/ /*if you ever want to keep inline-block text on a single line always*/
}

#nav-list li {
    display: inline-block;
    padding-right: 50px;
    font-weight: 600;
    font-size: 20px;
}

/*#endregion Header*/

/*#region Splash*/
#center-stage {
}

#pro-title {
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    line-height: 50px;
}

    #pro-title li {
        display: block;
    }

    #pro-title #job {
        color: black;
    }

    #pro-title #location {
        color: darkgrey;
    }

    #background-image {
        height: 100vh;
        overflow: hidden;
        /*display: flex;
        align-items: center;
        justify-content: center;*/
        display: block;
        margin: 0 auto auto;
        background-color: transparent;
        padding: 0;
    }

    #background-image img {
        /*margin: -75px 0 0 -75px;*/
        width: 100%;
    }
/*#endregion*/

/*#region Summary*/
.pro {
    font-family: "Open Sans Condensed", sans-serif;
    /*font-family: "Jaldi", sans-serif;*/
    font-size: 25px;
}

.pro h2 {
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: grey;
    text-align: left;
}

#api-list {
    padding-bottom: 300px;
    font-weight: 100;
}

 p {
    text-align: left;
}

 #summary {
     padding-left: 5vw;
 }


/*#endregion*/

/* #endregion real styles*/

