@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
@import 'https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,900';

/*#region organizational play area*/

/*#region Header*/
/*#head {
    border: 10px solid blue;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

#nav-list {
    border: 5px dotted red;
    vertical-align: middle;
}

#title {
    border: 5px dotted green;
    text-align: right;
    padding-right: 50px;
}*/
/*#endregion*/

/*#region Splash*/
/*#center-stage {
    
}

#pro-title {
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    line-height: 50px;
}

#pro-title li {
    display: block;
}

#pro-title #job{
    color: black;
}

#pro-title #location{
    color: darkgrey;
}

#background-image {
    
}*/

/*#endregion*/

/*#endregion*/


/* #region real styles*/

/*#region Example*/
/*#endregion*/
html, body {
    width:100%;
    overflow-x: hidden;
    background-color: black;
}

#stuff {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    z-index: 10;
    margin: auto;
    /*max-width: 80%;*/
}

/*#region Header*/
#head {
    margin-top: 50px;
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

#nav-list {
    vertical-align: middle;
}

#title {
    text-align: right;
    padding-right: 50px;
}

#nav-list li {
    display: inline-block;
    padding-left: 50px;
    font-weight: 600;
    font-size: 20px;
}

/*#endregion Header*/

/*#region Splash*/
#center-stage {
    
}

#pro-title {
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    line-height: 50px;
}

#pro-title li {
    display: block;
}

#pro-title #job{
    color: black;
}

#pro-title #location{
    color: darkgrey;
}

#background-image {
    height: 100vh;
    overflow: hidden;
}
/*#endregion*/

/*#region Summary*/
#pro-summary h2{
    font-size: 50px;
    text-align: center;
}

#pro-summary p {
    padding-bottom: 300px;
}
/*#endregion*/

/* #endregion real styles*/

