$desktopLimit: 1024px;
$tabletLimit: 1023px;
$mobileLimit: 766px;

// Large devices (desktops, 992px and up)
@media (min-width: $desktopLimit) {
  :root {
    font-size: 16px;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: $tabletLimit) {
  :root {
    font-size: 12px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: $mobileLimit) {
  :root {
    font-size: 8px;
  }
}
/**
********** breakpoint templates  **********

@media (min-width: 1024px) {

}

@media (max-width: 1023px) {

}

@media (max-width: 766px) {

}
**/
