$mobileLimit: 767px;
$tablet: 768px;
$desktop: 992px;

// Small devices (landscape phones, 576px and up)
@media (max-width: $mobileLimit) {
  :root {
    font-size: 8px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: $tablet) {
  :root {
    font-size: 12px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: $desktop) {
  :root {
    font-size: 16px;
  }
}
