@import '../node_modules/carbon-components/scss/globals/scss/styles.scss';
@import './styles.colors.scss';
@import './styles.placeholders.scss';
@import './styles.fonts.scss';

c4d-carousel {
  --c4d--carousel--page-size: 1;
}

* {
  box-sizing: border-box;
}

html {
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: $cream;
  color: $grey;
}

#__next {
  height: 100%;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: inherit;
    text-decoration: inherit;
    opacity: 1;
    cursor: pointer;
  }
}

li {
  list-style: none;
}

header {
  // border: 5px solid red;
}

main {
  // border: 5px solid blue;
}

/****************************** FONTS **********************************/
body {
  font-family: $font-body;
  color: $grey;

  // Override Carbon reset for bold tags
  b,
  strong {
    font-weight: 700;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $font-head;
    margin: 0;
    color: $black;
    font-weight: 400;
  }

  h1 {
    font-size: $text-xxxl;
  }

  h2 {
    font-size: $text-xxl;
  }

  h3 {
    font-size: $text-lg;
  }

  h4 {
    font-size: $text-md;
  }

  h5 {
    font-size: $text-xs;
    font-weight: 700;
  }

  p {
    font-size: $text-xs;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  a {
    color: $grey;
  }
}

// laptop typical
@media (min-width: 1024px) {
  body {
    h2 {
      font-size: 72px;
    }

    p {
      font-size: 14px;
      margin-block-start: 0px;
      margin-block-end: 0px;
    }
  }
}

// iPad mini landscape
@media (max-width: 1023px) {
  body {
    h2 {
      font-size: 60px;
    }

    p {
      font-size: 14px;
      margin-block-start: 0px;
      margin-block-end: 0px;
    }
  }
}

// iPhone Portrait up to iPad Mini Portrait
@media (max-width: 766px) {
  body {
    h2 {
      font-size: 42px;
      // line-break: anywhere;
    }

    p {
      font-size: 14px;
      margin-block-start: 0px;
      margin-block-end: 0px;
    }
  }
}

// iPhone Portrait up to iPad Mini Portrait
@media (max-width: 375px) {
  body {
    h2 {
      font-size: 36px;
    }

    p {
      font-size: 14px;
      margin-block-start: 0px;
      margin-block-end: 0px;
    }
  }
}
