@media (max-width: 600px) {
  .flex-grid {
    width: 100%;
    flex-direction: column;
  }
}

%fullpage {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
  scroll-snap-align: start;
  justify-items: center;
  align-items: center;
}